In [1]:
import pandas as pd

In [93]:
daily_temp_df = pd.read_csv('daily_temperature.zip')

/Users/ricalanis/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [94]:
daily_temp_df.head(5)

   Region  Country State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria   NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria   NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria   NaN  Algiers      1    3  1995            48.8
3  Africa  Algeria   NaN  Algiers      1    4  1995            46.4
4  Africa  Algeria   NaN  Algiers      1    5  1995            47.9

In [95]:
def add_zero(t):
    if int(t)<10:
        return '0'+str(t)
    return str(t)

In [96]:
daily_temp_df = daily_temp_df[daily_temp_df['Year'] > 2016].reset_index()

In [97]:
daily_temp_df['Date'] = daily_temp_df['Year'].astype(str) + '-' + daily_temp_df['Month'].apply(lambda x: add_zero(x))+'-' + daily_temp_df['Day'].apply(lambda x: add_zero(x))

In [98]:
daily_temp_df = daily_temp_df[['Country', 'Date', 'AvgTemperature']].dropna().drop_duplicates()

In [99]:
 daily_temp_df['Date'] = pd.to_datetime(daily_temp_df['Date'], format='%Y-%m-%d')

In [101]:
daily_temp_df=

KeyError: 'Sri Lanka'